/* Styling for HTML content in MainIntro component */
.main-intro-content ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.main-intro-content ul ul {
  list-style-type: circle;
  margin-left: 1.5rem;
  margin-top: 0.25rem;
}

.main-intro-content li {
  margin-bottom: 0.5rem;
  line-height: 1.75;
  color: var(--light-text-gray);
}

.main-intro-content p {
  margin-bottom: 1rem;
}
