/* Global styling for HTML content in MainIntro component */
.main-intro-content ul {
    list-style-type: disc !important;
    margin-left: 1.5rem !important;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    padding-left: 0.5rem !important;
}

.main-intro-content ul ul {
    list-style-type: circle !important;
    margin-left: 1.5rem !important;
    margin-top: 0.25rem !important;
}

.main-intro-content li {
    margin-bottom: 0.5rem !important;
    line-height: 1.75 !important;
    display: list-item !important;
}

.main-intro-content p {
    margin-bottom: 1rem !important;
}